<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1></h1>
        
        <hr><br>
        <header>
          <h1>Doctors</h1>
        </header>
        <body>
          <div>
            <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
            <br>
          </div>
          <button type="button" class="btn btn-success btn-sm" v-b-modal.doctor-modal>Add a new Doctor</button>
          <br><br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone number</th>
                <th scope="col">User ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(doctor, index) in doctors" :key="index">
                <td>{{ doctor.idDoctor }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.surname }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.fk_idUser }}</td>
                <td>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning btn-sm" v-b-modal.doctor-update-modal @click="editDoctor(doctor)">Update</button>
                    <button type="button" class="btn btn-danger btn-sm" @click="confirmRemoveWindow(doctor)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </body>
      </div>
    </div>
    <div>
        <footer>
          Kaunas 2020
        </footer>
    </div>
    <b-modal ref="addDoctorModal"
        id="doctor-modal"
        title="Add a new Doctor"
        hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-username-group"
        label="Username:"
        label-for="form-username-input">
        <v-select :options="users" label="username" :reduce="username => username.idUser" v-model="selectedId">
          <input
            :required="!selectedId"
          />
        </v-select>
        <div v-if="selectedId">Selected username id: {{selectedId}}</div>
      </b-form-group>
      <b-form-group id="form-name-group"
            label="Name:"
            label-for="form-name-input">
          <b-form-input id="form-name-input"
              type="text"
              v-model="addDoctorForm.name"
              required
              placeholder="Enter name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-surname-group"
            label="Last Name:"
            label-for="form-surname-input">
          <b-form-input id="form-surname-input"
              type="text"
              v-model="addDoctorForm.surname"
              required
              placeholder="Enter last name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-phone-group"
            label="Phone:"
            label-for="form-phone-input">
          <b-form-input id="form-phone-input"
              type="text"
              v-model="addDoctorForm.phone"
              required
              placeholder="Enter doctor's phone number">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editDoctorModal"
      id="doctor-update-modal"
      title="Update"
      hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
        label="Name:"
        label-for="form-name-edit-input">
        <b-form-input id="form-name-edit-input"
          type="text"
          v-model="editForm.name"
          required
          placeholder="Enter Name">
        </b-form-input>
        </b-form-group>
        <b-form-group id="form-surname-edit-group"
          label="Last Name:"
          label-for="form-surname-edit-input">
          <b-form-input id="form-surname-edit-input"
            type="text"
            v-model="editForm.surname"
            required
            placeholder="Enter last Name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-phone-group"
            label="Phone:"
            label-for="form-phone-input">
          <b-form-input id="form-phone-input"
              type="text"
              v-model="editForm.phone"
              required
              placeholder="Enter doctor's phone number">
          </b-form-input>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>         
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  //import DoctorService from '../services/doctor.service';
  
  export default {
    name: 'Doctors',
    data() {
      return {
        options: [
          'foo',
          'bar',
          'baz'
        ],
        selectedId: null,
        doctors: [],
        users: [],
        addDoctorForm: {
          name: '',
          surname: '',
          phone: '',
        },
        editForm: {
          idDoctor: '',
          name: '',
          surname: '',
          phone: '',
        },
        message: '',
        showMessage: false,
      };
    },
    methods: {
      confirmRemoveWindow(doctor){
        this.$confirm("Are you sure want to remove " + doctor.name + " " + doctor.surname +  "?").then(() => {
            this.onDeleteDoctor(doctor);
        })
        .catch(() =>{
            
        });
      },
      getAllUsers() {
        const path = '/users';
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.users = res.data.users;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      getAllDoctors() {
        const path = '/doctors';
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.doctors = res.data.doctors;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      addDoctor(payload){
        const path = '/doctors';
        axios.post(path, payload, { headers: authHeader() })
          .then(() => {
            this.getAllDoctors();
            this.message = 'Doctor added!';
            this.showMessage = true;
          })
          .catch((error) => {
            //eslint-disable-next-lint
            console.log(error);
            this.getAllDoctors();
          })
      },
      removeDoctor(doctorID) {
        const path = `/doctors/${doctorID}`
        axios.delete(path, { headers: authHeader() })
        .then(() => {
          this.getAllDoctors();
          this.message = 'Doctor removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAllDoctors();
        });
      },
      onDeleteDoctor(doctor) {
        this.removeDoctor(doctor.idDoctor)
      },
      editDoctor(doctor){
        this.editForm = doctor;
      },
      initForm(){
        this.addDoctorForm.name = '';
        this.addDoctorForm.surname = '';
        this.addDoctorForm.phone = '';
        this.editForm.idDoctor = '';
        this.editForm.name = '';
        this.editForm.surname = '';
        this.editForm.phone = '';
      },
      onSubmit(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        //let read = false;
        //if (this.addDoctorForm.read[0]) read = true;
        const payload = {
          name: this.addDoctorForm.name,
          surname: this.addDoctorForm.surname,
          phone: this.addDoctorForm.phone,
          fk_idUser: this.selectedId,
          //read,
        };
        this.selectedId = null;
        this.addDoctor(payload);
        this.initForm();
      },
      onSubmitUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        //let read = false;
        //if (this.editForm.read[0]) read = true;
        const payload = {
          name: this.editForm.name,
          surname: this.editForm.surname,
          phone: this.editForm.phone,
          fk_idUser: this.selectedId,
          //read,
        };
        this.selectedId = '';
        this.updateDoctor(payload, this.editForm.idDoctor);
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        this.initForm();
      },
      updateDoctor(payload, doctorID) {
        const path = `/doctors/${doctorID}`;
        axios.put(path, payload)
          .then(() => {
            this.getAllDoctors();
            this.message = 'Doctor Updated!';
            this.showMessage = true;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getAllDoctors();
          });
      },  
      onResetUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        this.initForm();
        this.getDoctors(); // why?
      },
    },
    created() {
      this.getAllDoctors();
      this.getAllUsers();
    },
    computed: {
      Usernames(){
        var obj = [];
        for(var i = 0; i < this.users.length; i++)
        {
          obj[i] = this.users[i].username;
        }
        return obj;
      }
    },
  };
</script>

<style scoped>
header {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e5099;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

footer {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #37373899;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

#app {
  max-width: 30em;
  margin: 1em auto;
}
</style>