<template>
  <div class="container">
    <header class="jumbotron">
      <h1>Welcome to hospital registration page</h1>
      <h2>If you wish to use our services, first you must sign up.</h2>
      <h2>After you create your account, you can register as a patient and then select the doctor you wish to apply for.</h2>
    </header>
  </div>
</template>

<script>
import UserService from '../services/user.service';

export default {
  name: 'Home',
  data() {
    return {
      content: '',
      msg: ''
    };
  },
  mounted() {
    UserService.getPublicContent().then(
      response => {
        this.content = response.data;
        this.msg = response.data.doctors;
      },
      error => {
        this.content =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>

<style scoped>
h1 {
  font-size:6vw;
  font-weight: bolder;
}

h2 {
  font-size:2vw;
  font-weight: normal;
}
</style>