<template>
  <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//cdn.onlinewebfonts.com/svg/img_320629.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              v-model="patient.name"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input
              v-model="patient.surname"
              v-validate="'required|min:3|max:50'"
              type="surname"
              class="form-control"
              name="surname"
            >
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input
              v-model="patient.phone"
              v-validate="'required|min:6|max:40'"
              type="phone"
              class="form-control"
              name="phone"
            >
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" @click="createPatient">Submit your card</button>
          </div>
        </div>
      </form>
      <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
      >{{message}}</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import authHeader from '../services/auth-header';

export default {
  name: 'Patient',
  data() {
    return {
      patient: {
        name: '',
        surname: '',
        phone: '',  
      },
      submitted: false,
      successful: false,
      message: ''
    };
  },
  methods: {
    createPatient(evt){
        evt.preventDefault();
        const payload = {
          name: this.patient.name,
          surname: this.patient.surname,
          phone: this.patient.phone,
          fk_idUser: this.currentUser.id,
        };
        this.sendPatient(payload);
    },
    sendPatient(payload){
        const path = '/patients';
        axios.post(path, payload, { headers: authHeader() })
          .then(() => {
            this.submitted = true;
            this.message = 'Registered as a patient';
            this.successful = true;
            this.setAsPatient();
            this.getNewRole();
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.submitted = false;
            this.message = 'Failed to register';
          });
    },
    getNewRole() {
        const path = `/users/${this.currentUser.username}`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.currentUser.roles = res.data.roles;
            var user = this.currentUser
            localStorage.setItem('user', JSON.stringify(user));
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
    },
    setAsPatient() {
        const payload = {
            username: this.currentUser.username,
            email: this.currentUser.email,
            role: 1,
        };
        const path = `/users/${this.currentUser.username}`;
        axios.put(path, payload, { headers: authHeader() })
          .then(() => {
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  }
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>