<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
       <h1></h1>
        
        <hr><br>
        <h1>Patients</h1>
        <div>
          <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
          <br>
        </div>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone number</th>
              <th scope="col">User ID</th>
              <th scope="col">Doctor ID</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(patient, index) in patients" :key="index">
              <td>{{ patient.idPatient }}</td>
              <td>{{ patient.name }}</td>
              <td>{{ patient.surname }}</td>
              <td>{{ patient.phone }}</td>
              <td>{{ patient.fk_idUser }}</td>
              <td v-if="patient.idDoctor">{{patient.idDoctor}}</td>
              <td v-else>None</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm" v-b-modal.doctor-update-modal @click="editPatient(patient)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" @click="confirmRemoveWindow(patient)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addDoctorModal"
        id="doctor-modal"
        title="Add a new Patient"
        hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-dropdown id="dropdown-usernames" text="Username" class="m-md-2" @change="changeUsername($event)">
        <b-dropdown-item value="" selected disabled>Username</b-dropdown-item>
        <b-dropdown-item v-for="user in users" :key="user.idPatient" :value="user.username">{{ user.username }}</b-dropdown-item>
      </b-dropdown>
      <b-form-group id="form-name-group"
            label="Name:"
            label-for="form-name-input">
          <b-form-input id="form-name-input"
              type="text"
              v-model="addDoctorForm.name"
              required
              placeholder="Enter name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-surname-group"
            label="Last Name:"
            label-for="form-surname-input">
          <b-form-input id="form-surname-input"
              type="text"
              v-model="addDoctorForm.surname"
              required
              placeholder="Enter last name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-phone-group"
            label="Phone:"
            label-for="form-phone-input">
          <b-form-input id="form-phone-input"
              type="text"
              v-model="addDoctorForm.phone"
              required
              placeholder="Enter doctor's phone number">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editDoctorModal"
      id="doctor-update-modal"
      title="Update"
      hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
        label="Name:"
        label-for="form-name-edit-input">
        <b-form-input id="form-name-edit-input"
          type="text"
          v-model="editForm.name"
          required
          placeholder="Enter Name">
        </b-form-input>
        </b-form-group>
        <b-form-group id="form-surname-edit-group"
          label="Last Name:"
          label-for="form-surname-edit-input">
          <b-form-input id="form-surname-edit-input"
            type="text"
            v-model="editForm.surname"
            required
            placeholder="Enter last Name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-phone-group"
            label="Phone:"
            label-for="form-phone-input">
          <b-form-input id="form-phone-input"
              type="text"
              v-model="editForm.phone"
              required
              placeholder="Enter doctor's phone number">
          </b-form-input>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>         
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  //import DoctorService from '../services/doctor.service';
  
  export default {
    name: 'Patients',
    data() {
      return {
        selectedUsername: null,
        patients: [],
        users: [],
        addDoctorForm: {
          name: '',
          surname: '',
          phone: '',
        },
        editForm: {
          idPatient: '',
          name: '',
          surname: '',
          phone: '',
        },
        message: '',
        showMessage: false,
      };
    },
    // mounted() {
    //   DoctorService.getAllPatients().then(
    //     response => {
    //       this.patients = response.data.patients;
    //     },
    //     error => {
    //       this.content =
    //         (error.response && error.response.data) ||
    //         error.message ||
    //         error.toString();
    //     }
    //   );
    // },
    methods: {
      confirmRemoveWindow(patient){
        this.$confirm("Are you sure want to remove " + patient.username + "?").then(() => {
            this.onDeletePatient(patient);
        })
        .catch(() =>{
            
        });
      },
      changeUsername(event){
        this.selectedUsername = event.target.options[event.target.options.selectedIndex].text
      },
      getAllUsers() {
        const path = '/users';
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.users = res.data.users;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      getAllPatients() {
        const path = '/patients';
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.patients = res.data.patients;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      addPatient(payload){
        const path = '/patients';
        axios.post(path, payload)
          .then(() => {
            this.getAllPatients();
            this.message = 'Patient added!';
            this.showMessage = true;
          })
          .catch((error) => {
            //eslint-disable-next-lint
            console.log(error);
            this.getAllPatients();
          })
      },
      removeDoctor(idPatient) {
        const path = `/patients/${idPatient}`
        axios.delete(path)
        .then(() => {
          this.getAllPatients();
          this.message = 'Patient removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAllPatients();
        });
      },
      onDeletePatient(doctor) {
        this.removeDoctor(doctor.idPatient)
      },
      editPatient(doctor){
        this.editForm = doctor;
      },
      initForm(){
        this.addDoctorForm.name = '';
        this.addDoctorForm.surname = '';
        this.addDoctorForm.phone = '';
        this.editForm.idPatient = '';
        this.editForm.name = '';
        this.editForm.surname = '';
        this.editForm.phone = '';
      },
      onSubmit(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        //let read = false;
        //if (this.addDoctorForm.read[0]) read = true;
        const payload = {
          name: this.addDoctorForm.name,
          surname: this.addDoctorForm.surname,
          phone: this.addDoctorForm.phone,
          //read,
        };
        this.addPatient(payload);
        this.initForm();
      },
      onSubmitUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        //let read = false;
        //if (this.editForm.read[0]) read = true;
        const payload = {
          name: this.editForm.name,
          surname: this.editForm.surname,
          phone: this.editForm.phone,
          //read,
        };
        this.updatePatient(payload, this.editForm.idPatient);
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        this.initForm();
      },
      updatePatient(payload, idPatient) {
        const path = `/patients/${idPatient}`;
        axios.put(path, payload)
          .then(() => {
            this.getAllPatients();
            this.message = 'Patient Updated!';
            this.showMessage = true;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getAllPatients();
          });
      },  
      onResetUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        this.initForm();
        this.getPatients(); // why?
      },
    },
    created() {
      this.getAllPatients();
      this.getAllUsers();
    },
  };
</script>
