<template>
    <div class="col-md-12">
        <h1></h1>
        <h1></h1>
        <div v-if="patient.length > 0" class="card card-container">
            <header class="jumbotron">
                <div class="jumbotron">
                    <h1></h1>
                    <!--<div v-if="!successful"> -->
                        <h1></h1>
                        <h1></h1>
                        <div v-if="hasDoctor" class="form-group" >
                            <h2>You currently have no doctor.</h2>
                            <h2></h2>
                            <h2>Select a doctor below:</h2>
                        </div>
                        <div v-else class="form-group" >
                            <h2 bold>You current doctor is:</h2>
                            <h3>{{giveDoctorFullName(patient[0].idDoctor)}}</h3>
                            <h2></h2>
                            <h2>You can replace your doctor below:</h2>
                        </div>

                        <div class="form-group">
                            <v-select :options="filteredDoctors" :get-option-label="getOptionLabel" :reduce="fullName => fullName.idDoctor" v-model="selectedDoctorId"></v-select>
                            <h3 v-if="selectedDoctorId">ID number of your selected doctor: {{selectedDoctorId}}</h3>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" @click="getPayload">Submit your change</button>
                        </div>
                    <!--</div>-->
                    <div
                        v-if="message"
                        class="alert"
                        :class="successful ? 'alert-success' : 'alert-danger'">
                        {{message}}
                    </div>
                </div>
            </header>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import authHeader from '../services/auth-header';

export default {
    name: "SelectDoctor",
    mounted(){
        this.doctors.map(function (x){
            return x.fullName = x.name + ' ' + x.surname;
        });
    },
    data(){
        return {
            patient: [],
            doctors: [],
            selectedDoctorId: null,
            submitted: false,
            successful: false,
            message: ''
        };
    },
    methods: {
        sigUpForDoctor(payload) {
            const path = `/patients/${this.patient[0].idPatient}`;
            axios.put(path, payload, { headers: authHeader() })
            .then((res) => {
                this.message = res.data.message;
                this.getPatient();
                this.successful = true;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
        },
        getPayload() {
            var payload = {
                name: this.patient[0].name,
                surname: this.patient[0].surname,
                phone: this.patient[0].phone,
                idDoctor: this.selectedDoctorId,
                fk_idUser: this.patient[0].fk_idUser,
            }
            this.selectedDoctorId = null;
            this.sigUpForDoctor(payload);
        },
        getOptionLabel(option) {
            return `${option.name} ${option.surname}`;
        },
        getPatient(){
            const path = `/patients/${this.currentUser.id}`;
            axios.get(path, { headers: authHeader() })
            .then((res) => {
                this.patient = res.data.patients;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
        },
        getAllDoctors() {
            const path = '/doctors';
            axios.get(path, { headers: authHeader() })
            .then((res) => {
                this.doctors = res.data.doctors;
            })
            .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
        },
        giveDoctorFullName(idDoctor){
            var fullName = "";
            for(var i = 0; i < this.doctors.length; i++){
                if(this.doctors[i].idDoctor == idDoctor){
                    fullName = this.doctors[i].name + " " + this.doctors[i].surname;
                    return fullName;
                }
            }
            return fullName;
        }
    },
    computed: {
        filteredDoctors() {
            return this.doctors.filter(doctor => { return doctor.idDoctor != this.patient[0].idDoctor})
        },
        currentUser() {
            return this.$store.state.auth.user;
        },
        hasDoctor(){
            if(this.patient[0].idDoctor == null)
                return true;
            return false;
        }
    },
    created() {
        this.getPatient();
        this.getAllDoctors();
    }
}
</script>

<style scoped>
h1 {
    font-size: 40px;
    font-weight: normal;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}
h3 {
    font-weight: bolder;
}
</style>