<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1></h1>
        
        <hr><br>
        <h1>Users</h1>
        <div>
          <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
          <br>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, index) in users" :key="index">
              <td>{{ user.idUser }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm" v-b-modal.user-update-modal @click="editUser(user)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" @click="confirmWindow(user)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <b-modal ref="editUserModal"
      id="user-update-modal"
      title="Update"
      hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
        label="Name:"
        label-for="form-name-edit-input">
        <b-form-input id="form-name-edit-input"
          type="text"
          v-model="editForm.username"
          required
          placeholder="Enter Username">
        </b-form-input>
        </b-form-group>
        <b-form-group id="form-email-edit-group"
          label="Email:"
          label-for="form-email-edit-input">
          <b-form-input id="form-email-edit-input"
            type="text"
            v-model="editForm.email"
            required
            placeholder="Enter email">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-role-group"
            label="Role:"
            label-for="form-role-input">
          <b-form-select v-model="editForm.role" :options="options" size="sm"> 
          </b-form-select>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger" @click="getAllUsers()">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>         
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  //import UserService from '../services/user.service';
  
  export default {
    name: 'Users',
    data() {
      return {
        oldUsername: null,
        selected: null,
        options: [{
            text: 'User',
            value: 0
        }, {
            text: 'Patient',
            value: 1
        }, {
            text: 'Doctor',
            value: 2
        }, {
            text: 'Admin',
            value: 3
        }],
        selectedUsername: null,
        users: [],
        addUserForm: {
          name: '',
          surname: '',
          phone: '',
        },
        editForm: {
          idUser: '',
          name: '',
          surname: '',
          phone: '',
        },
        message: '',
        showMessage: false,
      };
    },
    // mounted() {
    //   UserService.getAllUsers().then(
    //     response => {
    //       this.users = response.data.users;
    //     },
    //     error => {
    //       this.content =
    //         (error.response && error.response.data) ||
    //         error.message ||
    //         error.toString();
    //     }
    //   );
    // },
    methods: {
      confirmWindow(user){
        this.$confirm("Are you sure want to remove " + user.username + "?").then(() => {
            this.onDeleteUser(user);
        })
        .catch(() =>{
            
        });
      },
      changeUsername(event){
        this.selectedUsername = event.target.options[event.target.options.selectedIndex].text
      },
      getAllUsers() {
        const path = '/users';
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.users = res.data.users;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      removeUser(username) {
        const path = `/users/${username}`
        axios.delete(path)
        .then(() => {
          this.getAllUsers();
          this.message = 'User removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAllUsers();
        });
      },
      onDeleteUser(user) {
        this.removeUser(user.username)
      },
      editUser(user){
        this.editForm = user;
        this.oldUsername = user.username;
      },
      initForm(){
        this.editForm.idUser = '';
        this.editForm.username = '';
        this.editForm.email = '';
        this.editForm.role = '';
      },
      onSubmitUpdate(evt) {
        evt.preventDefault();
        this.$refs.editUserModal.hide();
        //let read = false;
        //if (this.editForm.read[0]) read = true;
        const payload = {
          idUser: this.editForm.idUser,
          username: this.editForm.username,
          email: this.editForm.email,
          role: this.editForm.role,
          //read,
        };
        this.updateUser(payload, this.oldUsername);
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addUserModal.hide();
        this.initForm();
      },
      updateUser(payload, username) {
        const path = `/users/${username}`;
        axios.put(path, payload, { headers: authHeader() })
          .then(() => {
            this.getAllUsers();
            this.message = 'User Updated!';
            this.showMessage = true;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getAllUsers();
          });
      },  
      onResetUpdate(evt) {
        evt.preventDefault();
        this.$refs.editUserModal.hide();
        this.initForm();
        this.getUsers(); // why?
      },
    },
    created() {
      this.getAllUsers();
    },
  };
</script>
