<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1></h1>
        
        <hr><br>
        <header>
          <h1>Visits</h1>
        </header>
        <body>
          <div>
            <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
            <br>
          </div>
          <button type="button" class="btn btn-success btn-sm" v-b-modal.visit-modal>Add a new Visit</button>
          <br><br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Day</th>
                <th scope="col">Visit starts</th>
                <th scope="col">Visit ends</th>
                <th scope="col">idPatient</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(visit, index) in myVisits" :key="index">
                <td>{{ visit.idVisit }}</td>
                <td>{{ visit.day }}</td>
                <td>{{ visit.visitStart }}</td>
                <td>{{ visit.visitEnd }}</td>
                <td v-if="visit.idPatient">{{ visit.idPatient }}</td>
                <td v-else>None</td>
                <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger btn-sm" @click="confirmRemoveWindow(visit)">Delete</button>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
        </body>
      </div>
    </div>
    <div>
        <footer>
          Kaunas 2020
        </footer>
    </div>
    <b-modal ref="addDoctorModal"
        id="visit-modal"
        title="Add a new Visit"
        hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-username-group"
        label="Patient:"
        label-for="form-username-input">
        <v-select :options="patients" :get-option-label="getOptionLabel" :reduce="fullName => fullName.idPatient" v-model="selectedId"></v-select>
      </b-form-group>
      <b-form-group id="form-visitStart-group"
            label="Visit start:"
            label-for="form-visitStart-input">
          <b-form-input id="form-visitStart-input"
              type="datetime-local"
              v-model="addVisitForm.visitStart"
              required>
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-visitStop-group"
            label="Length"
            label-for="form-visitStop-input">
          <b-form-select v-model="selectedTime" :options="options" size="sm" required> 
          </b-form-select>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>        
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  import moment from 'moment-timezone';
  //import DoctorService from '../services/visit.service';
  
  export default {
    name: 'Visits',
    data() {
      return {
        selectedId: null,
        currentDoctorId: null,
        visits: [],
        users: [],
        patients: [],
        selectedTime: null,
        options: [{
            text: '15 minutes',
            value: 15
        }, {
            text: '20 minutes',
            value: 20
        }, {
            text: '30 minutes',
            value: 30
        }, {
            text: '45 minutes',
            value: 45
        }],
        addVisitForm: {
          idDoctor: '',
          visitStart: '',
          visitStop: '',
        },
        message: '',
        showMessage: false,
      };
    },
    methods: {
      confirmRemoveWindow(patient){
        this.$confirm("Are you sure want to remove " + patient.username + "?").then(() => {
            this.onDeleteVisit(patient);
        })
        .catch(() =>{
            
        });
      },
      getOptionLabel(option) {
        return `${option.idPatient}. ${option.name} ${option.surname}`;
      },
      getCurrentDoctor() {
        const path = `/doctors/${this.currentUser.id}`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.currentDoctorId = res.data.doctors[0].idDoctor;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      getAllPatients() {
          const path = `/patients`;
          axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.patients = res.data.patients;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      getAllVisits() {
        const path = `/visits`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.visits = res.data.visits;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      addVisit(payload){
        const path = '/visits';
        axios.post(path, payload, { headers: authHeader() })
          .then(() => {
            this.getAllVisits();
            this.message = 'Visit added!';
            this.showMessage = true;
            this.selectedId = null;
          })
          .catch((error) => {
            //eslint-disable-next-lint
            console.log(error);
            this.selectedId = null;
            this.getAllVisits();
          })
      },
      removeVisit(idVisit) {
        const path = `/visits/${idVisit}`
        axios.delete(path)
        .then(() => {
          this.getAllVisits();
          this.message = 'Visit removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAllVisits();
        });
      },
      onDeleteVisit(visit) {
        this.removeVisit(visit.idVisit)
      },
      initForm(){
        this.addVisitForm.idDoctor = '';
        this.addVisitForm.visitStart = '';
        this.addVisitForm.visitStop = '';
      },
      onSubmit(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        //let read = false;
        //if (this.addVisitForm.read[0]) read = true;
        var startdate = moment(this.addVisitForm.visitStart);
        this.addVisitForm.visitStop = moment(startdate).add(this.selectedTime, 'minutes').format('YYYY-MM-DDTHH:mm');
        const payload = {
          idDoctor: this.currentDoctorId,
          visitStart: this.addVisitForm.visitStart,
          visitEnd: this.addVisitForm.visitStop,
          idPatient: this.selectedId,
        };
        this.selectedTime = null;
        this.addVisit(payload);
        this.initForm();
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        this.initForm();
      },
      onResetUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        this.initForm();
        this.getDoctors(); // why?
      },
      correctDoctor(visit) {
        if(this.currentDoctorId == visit.idDoctor){
          return true;
        }
        return false;
      }
    },
    created() {
        this.getAllVisits();
        this.getCurrentDoctor();
        this.getAllPatients();
    },
    computed: {
      myVisits() {
        return this.visits.filter(visit => { return visit.idDoctor == this.currentDoctorId })
      },
      currentUser() {
        var user = this.$store.state.auth.user
        return user;
      },
      Usernames(){
        var obj = [];
        for(var i = 0; i < this.users.length; i++)
        {
          obj[i] = this.users[i].username;
        }
        return obj;
      }
    },
  };
</script>

<style scoped>
header {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e5099;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

footer {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #37373899;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

#app {
  max-width: 30em;
  margin: 1em auto;
}
</style>