<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1></h1>
        
        <hr><br>
        <header>
          <h1>Register for a visit</h1>
        </header>
        <body>
          <div>
            <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
            <br>
          </div>
          <br><br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Day</th>
                    <th scope="col">Visit starts</th>
                    <th scope="col">Visit ends</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(visit, index) in myVisits" :key="index">
                    <td>{{ visit.idVisit }}</td>
                    <td>{{ visit.day }}</td>
                    <td>{{ visit.visitStart }}</td>
                    <td>{{ visit.visitEnd }}</td>
                    <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm" @click="confirmSelectWindow(visit)">Register</button>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </body>
      </div>
    </div>
    <div>
        <footer>
          Kaunas 2020
        </footer>
    </div>      
  </div>
</template>

<script>
  import axios from 'axios';
  import authHeader from '../services/auth-header';
  //import DoctorService from '../services/visit.service';
  
  export default {
    name: 'Visits',
    data() {
      return {
        selectedId: null,
        currentPatientId: null,
        currentDoctorId: null,
        visits: [],
        users: [],
        selectedTime: null,
        options: [{
            text: '15 minutes',
            value: 15
        }, {
            text: '20 minutes',
            value: 20
        }, {
            text: '30 minutes',
            value: 30
        }, {
            text: '45 minutes',
            value: 45
        }],
        addVisitForm: {
          idDoctor: '',
          visitStart: '',
          visitStop: '',
        },
        message: '',
        showMessage: false,
      };
    },
    methods: {
      confirmSelectWindow(visit){
        this.$confirm("Are you sure want to register for this time " + visit.visitStart + " ?" ).then(() => {
            this.onSelectVisit(visit);
        })
        .catch(() =>{
            
        });
      },
      getOptionLabel(option) {
        return `${option.idPatient}. ${option.name} ${option.surname}`;
      },
      getCurrentPatient() {
        const path = `/patients/${this.currentUser.id}`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.currentPatientId = res.data.patients[0].idPatient;
            this.currentDoctorId = res.data.patients[0].idDoctor;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      getAllVisits() {
        const path = `/visits`;
        axios.get(path, { headers: authHeader() })
          .then((res) => {
            this.visits = res.data.visits;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      selectVisit(idVisit, payload) {
        const path = `/visits/${idVisit}`
        axios.put(path, payload, { headers: authHeader() })
        .then(() => {
          this.getAllVisits();
          this.message = 'Registered for a visit!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAllVisits();
        });
      },
      updateVisit(visit){
          const payload = {
            idDoctor: visit.idDoctor,
            visitStart: visit.day + "T" + visit.visitStart,
            visitEnd: visit.day + "T" + visit.visitEnd,
            idPatient: this.currentPatientId,
          }
          this.selectVisit(visit.idVisit, payload);
      },
      onSelectVisit(visit) {
        this.updateVisit(visit)
      },
    },
    created() {
        this.getAllVisits();
        this.getCurrentPatient();
    },
    computed: {
      myVisits() {
        return this.visits.filter(visit => { return visit.idDoctor == this.currentDoctorId && visit.idPatient == null })
      },
      currentUser() {
        var user = this.$store.state.auth.user
        return user;
      },
    },
  };
</script>

<style scoped>
header {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e5099;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

footer {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #37373899;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

#app {
  max-width: 30em;
  margin: 1em auto;
}
</style>